* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    height: 45vw;
}

.slides {
    height: inherit;
    width: 100%;
    /* display: none; */
    transition: all 0.5s;
}


img {
    max-width: 100%;
}

.slider_bottom {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin: 0 auto;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.text {
    color: black;
    font-size: 2vw;
}

input {
    display: none;
}

.buttons {
    display: flex;
    height: 2vw;
    align-items: center;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    margin-left: 1vw;
}

.point {
    height: 1vw;
    width: 1vw;
    border: 1px solid black;
    border-radius: 50%;
}

label:hover>div {
    box-shadow: 0 0 1vw #000;
}

#slide1:checked~.slider_bottom .buttons label:nth-of-type(1)>div,
#slide2:checked~.slider_bottom .buttons label:nth-of-type(2)>div,
#slide3:checked~.slider_bottom .buttons label:nth-of-type(3)>div,
#slide4:checked~.slider_bottom .buttons label:nth-of-type(4)>div,
#slide5:checked~.slider_bottom .buttons label:nth-of-type(5)>div,
#slide6:checked~.slider_bottom .buttons label:nth-of-type(6)>div {
    background: #000;
}

#slide1:checked~.slider .slides {
    transform: translateY(0);
}

#slide2:checked~.slider .slides {
    transform: translateY(-100%);
}

#slide3:checked~.slider .slides {
    transform: translateY(-200%);
}

#slide4:checked~.slider .slides {
    transform: translateY(-300%);
}

#slide5:checked~.slider .slides {
    transform: translateY(-400%);
}

#slide6:checked~.slider .slides {
    transform: translateY(-500%);
}